error: `ls` does not exist in environment

Backtrace:
  ╭─<<test_data/lambda_bug_4.sct.scm>>
  │
4 │ ls
  ┆ ─┬
  ┆  │
  ┆  ╰─ frame 0
──╯
---
---
; should *fail*
(import (only (scheme base) lambda))
((lambda (ls) 0) 42)
ls
