error: Rust code produced an error: car only operates on a pair

Backtrace:
 - <<synthesized>> <<native>>
---
---
(import (only (scheme base) define lambda car))
(define head (lambda in (car in)))
; this shouldn't cause a panic (as it did)
(head)
